/*
        PRP Project
        Copyright (C) 2020  The PRP Project

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

/*=======================================
Import Fonts
=======================================*/

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('resources/fonts/poppins/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('resources/fonts/poppins/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('resources/fonts/poppins/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('resources/fonts/poppins/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('resources/fonts/poppins/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/******************************
 Regular SCSS
 *****************************/

$primary-color: #17a2b9;
$secondary-color: #2b3033;

$breakpoint-phone: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;
$breakpoint-LGdesktop: 1920px;

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-width: $breakpoint-phone;
  font-family: "Poppins", sans-serif;

  @media(max-width: $breakpoint-phone) {

  }

}

button {
  &:focus {
    outline: none;
  }
}

.nav-btn {
  margin: 5px;
  padding: 10px;
  outline: none;
  border: none;
  background: none;
  position: fixed;
  float: left;
  z-index: 1001;

  @media(max-width: $breakpoint-phone) {
    visibility: visible;
  }

  i {
    color: #222;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
  z-index: 9998;
  visibility: hidden;
  background-color: #000;
  opacity: 0.8;
  overflow: hidden;
}

.overlay-visible {
  @media(max-width: $breakpoint-LGdesktop) {
    visibility: hidden;
  }

  @media(max-width: $breakpoint-desktop) {
    visibility: visible;
  }

  @media(max-width: $breakpoint-tablet) {
    visibility: visible;
  }

  @media(max-width: $breakpoint-phone) {
    visibility: visible;
  }
}

.page {

  .side-nav {
    height: 100%;
    position: fixed;
    transition: .5s;
    z-index: 9999;
    color: #fff;
    font-size: 0.75rem;

    @media(max-width: $breakpoint-LGdesktop) {
      width: 250px;
      float: left;
    }

    @media(max-width: $breakpoint-desktop) {
      width: 280px;
      left: -280px;
    }

    @media(max-width: $breakpoint-tablet) {
      width: 280px;
      left: -280px;
    }

    @media(max-width: $breakpoint-phone) {
      width: 280px;
      left: -280px;
    }

    .primary-side-nav {
      float: left;
      height: 100%;
      width: 25%;
      padding: 5px;
      background-color: $primary-color;
      font-size: 3em;

      #primarySideNav {
        text-align: center;

        li {
          margin-bottom: 25px;

          .nav-bar-item {
            text-decoration: none;
            color: #fff;
            cursor: pointer;

            .nav-bar-item-name {
              position: absolute;
              margin-left: 30px;
              font-size: 1.75rem;
              transform: translateY(5px);
            }
          }
        }
      }

      .primary-side-nav-header {
        height: 65px;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;

        img {
          line-height: 65px;
          width: 100%;
          vertical-align: center;
        }
      }

      .user-pane {
        position: absolute;
        width: 25%;
        bottom: 0;
        left: 0;
        height: 70px;
        text-align: center;

        .user-img {
          position: absolute;
          background-color: $secondary-color;
          height: 75%;
          width: 75%;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
            margin: auto;
          }
        }
      }
    }

    .secondary-side-nav {
      float: left;
      height: 100%;
      width: 75%;
      background-color: #5a656b;
      padding: 5px;
      font-size: 1.5em;
      text-decoration: none;

      .secondary-side-nav-header {
        height: 65px;
        text-align: center;
        margin-bottom: 20px;

        h4 {
          font-size: 2rem;
          line-height: 65px;
          vertical-align: center;
          text-transform: uppercase;
          letter-spacing: 15px;
        }
      }
    }
  }

  .active {
    left: 0;
  }

  .content {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    text-align: center;

    @media(max-width: $breakpoint-LGdesktop) {
      float: left;
      padding-left: 250px;
    }

    @media(max-width: $breakpoint-desktop) {
      margin-left: 0;
      padding-left: 0;
    }

    @media(max-width: $breakpoint-tablet) {
      margin-left: 0;
      padding-left: 0;
    }

    @media(max-width: $breakpoint-phone) {
      margin-left: 0;
      padding-left: 0;
    }

    .title-area {
      position: fixed;
      top: 0;
      width: 100%;
      text-align: center;
      background-image: linear-gradient(#fff, rgba(255, 255, 255, 0));
      z-index: 1000;

      .page-title {
        margin-top: 10px;
      }
    }

    .container-fluid {
      margin-top: 50px;
    }
  }
}

/******************************
 Login Modal
 *****************************/

$error-color: #FF0000;

#loginModal {
  text-align: center;

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .nav-link {
    display: block;
    padding: .5rem 1rem;
  }

  .text-muted {
    color: #6c757d !important;
  }
}

.errorLabel {
  color: $error-color;
}

.errorButton, .errorButton:hover {
  background-color: $error-color;
  border-color: $error-color;
}
